[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/cglm"]
	path = dependencies/cglm
	url = https://github.com/recp/cglm
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb
[submodule "dependencies/freetype"]
	path = dependencies/freetype
	url = https://github.com/freetype/freetype
[submodule "dependencies/fast_obj"]
	path = dependencies/fast_obj
	url = https://github.com/thisistherk/fast_obj
